{% extends 'Teacher/teachers_base.html' %}
{% block content %}


<br><br><br>
<div class="container">

    <div class="dash-view" style="color: black !important;">
        <a class="nav-link" href="{% url 'dashboard' %}" style="color:cornflowerblue !important;">
            <div class="user-card" style="width: 99%;height: 220px;">
                    Manage Classes
                <p>View and manage the classes you teach</p>

            </div>
        </a>

        <a class="nav-link" href="{% url 'create-questions' %}" style="color:cornflowerblue !important;">
            <div class="user-card" style="width: 99%;height: 220px;">
                    Add Questions
                <p>Add questions to the system</p>

            </div>
        </a>
        

        <a class="nav-link" href="{% url 'subjects-selection' %}" style="color:cornflowerblue !important;">
            <div class="user-card" style="width: 99%;height: 220px;">
                
                    Subject Selection
                
                <p>Select the subjects you teach</p>

            </div>
        </a>

        <a class="nav-link" href="{% url 'update-profile' user  %}" style="color:cornflowerblue !important;">
            <div class="user-card" style="width: 99%;height: 220px;">

                    Profile
                
                <p>Manage and edit your profile</p>

            </div>
        </a>

        
    
        
        

        

</div>


{% endblock %}