{% extends template %}

{% block content %}

<br><br><br>



  <div class="container" style="">



    <subscription>
      <div class="three">
        <a href="{% url 'pay' %}">
          <div class="sub-card">
            <h5>Silver</h5>

            <h6><i class="bi bi-robot"></i> AI <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Image Assignment Helper <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
          </div>
        </a>
        <a href="{% url 'pay' %}">
          <div class="sub-card">
            <h5>Gold</h5>

            <h6><i class="bi bi-robot"></i> AI <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Image Assignment Helper <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
          </div>
        </a>

        <a href="{% url 'pay' %}">
          <div class="sub-card">
            <h5>Platimun</h5>

            <h6><i class="bi bi-robot"></i> AI <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Image Assignment Helper <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
          </div>
        </a>


      </div>
    </subscription>



    <br><br>



     















  {% endblock %}