{% extends template %}

{% block content %}

<br><br><br>



  <div class="contaner" style="">



    <subscription><div><br>
      <div class="text-center">
        <h5 class="btn btn-secondary">Grade 4 - 6</h5>
      </div>
      
      <div class="three">
        <a href="{% url 'specific-pay' '185' %}">
          <div class="sub-card">
            <h5>Silver</h5>
            <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Progress Tracking <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Test Analytics <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-robot"></i> AI Assistant <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
            <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
            <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
            <br>
            <h2>Ks 185</h2>
          </div>
        </a>
        <a href="{% url 'specific-pay' '370' %}">
          <div class="sub-card">
            <h5>Gold</h5>
            <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Progress Tracking <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Test Analytics <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-robot"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
            <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
            <br>
            <h2 style="color: cornflowerblue;">Ks 370</h2>
          </div>
        </a>

        <a href="{% url 'specific-pay' '500' %}">
          <div class="sub-card">
            <h5>Platimun</h5>

            <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Progress Tracking <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Test Analytics <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-robot"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6> -->
            <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <br>
            <h2 style="color: coral;">Ks 500</h2>
          </div>
        </a>


      </div></div>
    </subscription>



    <br><br>

    <subscription >
      <div style="background-color: rgb(26, 43, 43);">
        <br>
      <div class="text-center">
        <h5 class="btn btn-primary"> AI Only</h5>
      </div>
      <div class="three">
        <a href="{% url 'specific-pay' '150' %}">
          <div class="sub-card">
            <h5>Basic</h5>
            <h6><i class="bi bi-"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Tokens 8 500 <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Image Upload <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
            <!-- <h6><i class="bi bi-robot"></i> Image Generation <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
            <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
            <!-- <h6><i class="bi bi-"></i> 30 Days <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
            <br>
            <h2>Ks 150</h2>
          </div>
        </a>
        <a href="{% url 'specific-pay' '300' %}">
          <div class="sub-card">
            <h5>Advanced</h5>
            <h6><i class="bi bi-"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Tokens 17 000  <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Image Upload <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <!-- <h6><i class="bi bi-robot"></i> Image Generation <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
            <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
            <!-- <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
            <br>
            <h2 style="color: cornflowerblue;">Ks 300</h2>
          </div>
        </a>

        <a href="{% url 'specific-pay' '500' %}">
          <div class="sub-card">
            <h5>Premium</h5>

            <h6><i class="bi bi-"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <h6><i class="bi bi-"></i> Tokens 25 000<i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <!-- <h6><i class="bi bi-"></i> Image Generation<i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6> -->
            <h6><i class="bi bi-robot"></i> Image Upload <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
            <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6> -->
            <!-- <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6> -->
            <br>
            <h2 style="color: coral;">Ks 500</h2>
          </div>
        </a>


      </div></div>
    </subscription>

     















  {% endblock %}