{% extends 'Guardian/baseg.html' %}
{% load static %}

{% block content %}
<style>
.main-container{
  display: grid;grid-template-columns: 25% 45% 20%;justify-content: center;gap: 40px;color: #F8F8FF;
}
    @media (max-width:1200px){
      #details{
        display: none;
      }
      .main-container{
        display: flex; flex-direction: column-reverse;
      }
    }

</style>
<div style="width: 99%;margin: 100px auto 0px  auto;">
  <div style="" class="main-container">
    <div style="background-color:#03001C;padding: 30px;border-radius: 10px;max-width: 550px;margin: 0 auto;height: 85vh;overflow-y: scroll;">
      <h5>Updates</h5><hr>
      <br>
      <h6>Sort By</h6>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">School</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">M.O.E</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
        <label class="form-check-label" for="inlineCheckbox3">My Children</label>
      </div><br><hr>
      {% for update in updates %}
      <a href="{% url 'notification' update.id %}" style="color: #F8F8FF !important;">
        <div style="position: relative;;border: 1px solid rgb(8, 32, 8);width: 99%;height: 150px;overflow-y: hidden;border-radius: 10px;padding: 10px;background-color: rgb(8, 6, 27);">
          
          <h6>{{ update.title }}</h6>
         <small style="height: 100px;overflow-y: hidden;">{{ update.description }}</small>
         <small class="badge text-bg-secondary" style="position: absolute;bottom: 10px;right: 10px;"><span class="badge bg-secondary">{{ update.date }}</span></small>
        </div>
      </a>
      <br><hr>
      {% endfor %}
    </div>
    <div style="width: 90%;max-width: 550px;margin: 0 auto;">
      <h5 style="color: #03001C;"></h5>
      <select class="form-select" aria-label="Default select example">
        <option selected>My Linked Learners</option>
       
      </select>
      <div style="margin-top: 40px;">
        {% for kid in kids.kids.all %}
        <a href="{% url 'students-profile' kid.adm_no %}" style="color: white;">
          <div style="position: relative;width: 99%;border-radius: 10px;padding: 30px;background-color: rgb(8, 6, 27);box-shadow: 1px 0px 1px 10px rgba(8, 8, 34,.1);animation: glow-border 1.5s infinite alternate;">
            <small class="badge text-bg-secondary" style="position: absolute;top: 10px;right: 10px;"><span class="badge bg-success">Active</span></small>
            <div style="display: flex;">
              <img src="{% static 'Users/child.jpg' %}" style="height: 60px;width: 60px;border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;">
              <div style="padding-left: 30px;">
                <h6>{{ kid.studentprofile.get_names }}</h6>
                <p>{{ kid.studentprofile.gender }}</p>
                
              </div>
            </div><br>
            <div >
              <h6 style="position: absolute;bottom: 10px;left: 30px;"><i class="bi bi-view-stacked" ></i> {{ kid.academicprofile.current_class.grade }} {{ kid.academicprofile.current_class }}</h6>
              <h6 style="position: absolute;bottom: 10px;right: 30px;"><i class="bi bi-layers"> </i>Radiance</h6>
            </div>
          </div>
        </a>
        <br><br>
        {% endfor %}
      </div>
    </div>
    <div style="background-color: #03001C;padding: 30px;border-radius: 20px;" id="details">
      <h5>My Profile</h5><hr>
      <br>
      <h6>{{ user.personalprofile.get_names }}</h6>
      <h6>{{ user.personalprofile.gender }}</h6>
      <h6>{{ user.personalprofile.phone }}</h6>
      <h6>{{ user.personalprofile }}</h6>
    </div>
  </div>

</div>

{% endblock %}