{% extends base_html %}
{% load custom_filters %}

{% block content %}

<style>
    /* Hide everything when printing */
    @media print {
        /* Hide all elements on the page */
       #hide, #to-bar {
            display: none;
        }

        /* Make the table visible */
        #report, #report * {
            visibility: visible;
            
        }
        #info{
            display: inline !important;
        }
        
        #printer, #printeds{
            display: none;
        }

        /* Optional: Adjust layout for printing */
        body {
            margin: 0 !important;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
          table th {
            background-color: white !important; /* No background color */
            font-weight: bold;
            color: black;
        }

        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2 !important;
            font-weight: bold;
        }

        /* Optional: Page break handling */
        table {
            page-break-after: always;
        }
    }
</style>
<div style="margin: 0 auto;width: 90%;max-width: 800px;text-align: center;display: none;" id="info">
    <h5 class="text-center">{{ user.school }}</h5>
    <h6>Grade {{ grade }}</h6>
    <h6>{{ term }}</h6>
    <h6>Stream Mean {% get_stream_overall_average class_id.class_id grade term %}</h6>
</div>
<div class="container">
    <div style="display: flex; column-gap: 30px; justify-content: end;margin-top: 100px;" id="hide">
        <!-- This button is not needed anymore for printing -->
        <br>
        <a class="btn btn-primary" id="hide" href="{% url 'class-exam-analytics' class_id.class_id %}">DATALYTICS</a>
    </div><br>
    <form method="post" id="hide" style="margin-top: 10px;">
        {% csrf_token %}
        <div>
            <select class="form-select" aria-label="Default select example" name="stream" id="streamSelect">
                <option value="{{ class_id }}">{{ class_id.grade }} {{ class_id }}</option>
                <option value="stream">Grade {{ class_id.grade }} Stream</option>
            </select>
            <br>
        </div>

        <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example" name="year">
                <option value="{{ grade }}">Grade {{ grade }}</option>
                <option value="1">Grade 1</option>
                <option value="2">Grade 2</option>
                <option value="3">Grade 3</option>
                <option value="4">Grade 4</option>
                <option value="5">Grade 5</option>
                <option value="6">Grade 6</option>
                <option value="7">Grade 7</option>
                <option value="8">Grade 8</option>
            </select>  
            <span class="input-group-text">Term</span>
            <select class="form-select" aria-label="Default select example" name="term">
                <option value="{{ term }}">{{ term }}</option>
                <option value="Term 1">1</option>
                <option value="Term 2">2</option>
                <option value="Term 3">3</option>
            </select>  
            <select class="form-select" aria-label="Default select example" name="period" required>
                <option value="{{ period }}">{{ period }}</option>
                <option value="OPENER">Opener</option>
                <option value="MID">Mid Term</option>
                <option value="END">End Term</option>
            </select>  
            <button class="btn btn-warning" name="config">Filter</button>
        </div>
    </form>

    
    <br>
    {% if subjects and students %}
    <!-- Table to be printed -->
    <table class="container table" id="report">
        <caption>
            {% for class in classes %} 
                {{ class }} Mean
                {% get_class_overall_average class.class_id grade term %}
                <br>
            {% endfor %}
            Stream Mean {% get_stream_overall_average class_id.class_id grade term %}
        </caption>

        <thead>
            <tr style="background-color: black; color: white; text-transform: capitalize !important;">
                <th><h6>RANK</h6></th>
                <th><h6>STUDENT</h6></th>
                {% for subject in subjects %}
                    <th><h6>{{ subject.course.abbreviation }}</h6></th>
                {% endfor %}
                <th><h6>Marks</h6></th>
                {% if stream %}
                    <th><h6>Class</h6></th>
                {% endif %}
                <th id="printer"><h6>Print</h6></th>
            </tr>
        </thead>
        <tbody>
        {% for user in students %}
            <tr>
                {% if user.rank|add:0 <= 5 %}
                    <td style="color:coral;">{{ user.rank }}</td>
                {% elif user.rank > 5 and user.rank <= 10 %}
                    <td style="color:cornflowerblue;">{{ user.rank }}</td>
                {% else %}
                    <td>{{ user.rank }}</td>
                {% endif %}
                {% if user.user__studentprofile__f_name %}
                    <td><a href="">{{ user.user__studentprofile__f_name }} {{ user.user__studentprofile__l_name }} {{ user.user__studentprofile__surname }}</a></td>
                {% else %}
                    <td><a href="">{{ user.user__adm_no }}</a></td>
                {% endif %}
                {% for subject in subjects %}
                    <td>{% get_subject_score user.user__adm_no grade subject.id term period %}</td>
                {% endfor %}
                <td>{{ user.total_score }}</td>
                {% if stream %}
                    <td><h6>{{ user.user__academicprofile__current_class__name }}</h6></td>
                {% endif %}
                <td id="printeds"><a href="{% url 'print-report' user.user__adm_no grade term user.rank %}"><h6><i class="bi bi-printer"></i></h6></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}
