{% extends base_html %}
{% load custom_filters %}
{% load supervisor_filters %}

{% block content %}
<br><br><br><br>
<div class="container">
  {% if user.role == 'Supervisor' %}
  <div class="accordion accordion-flush" id="accordionFlushExample" class="container">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Add/Change Subject Teacher
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <form method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-6">
                
                    <label for="inputField1" class="form-label">Current</label>
                    <input type="text" class="form-control" id="inputField1" name="" value="{{ current.user.personalprofile.get_names|title }}" disabled>
                </div>
                <div class="col-md-6">
                    <label for="inputField1" class="form-label">Assign To</label>
                    <select class="form-select" id="roleSelect" aria-label="Default select example" name="new" required>
                        <option></option>
                        {% for teacher in teachers %}
                          <option value="{{ teacher.id_number }}">{{teacher.personalprofile.get_names|title }}</option>
                        {% endfor %}
                    </select>
                </div>
                
              </div>
              <button class="btn btn-success" name="appoint">Appoint</button></form>
        </div>
      </div>
    </div>
  
  </div>
  {% endif %}
  <!-- Form section will always show -->
  <!-- <form method="post" style="padding: 30px;">
    {% csrf_token %}
    <div class="input-group mb-3">
      <select class="form-select" aria-label="Default select example" name="year" required>
        <option value="">Select Grade</option>
        <option value="1">Grade 1</option>
        <option value="2">Grade 2</option>
        <option value="3">Grade 3</option>
        <option value="4">Grade 4</option>
        <option value="5">Grade 5</option>
        <option value="6">Grade 6</option>
        <option value="7">Grade 7</option>
        <option value="8">Grade 8</option>
      </select>
      <span class="input-group-text">Term</span>
      <select class="form-select" aria-label="Default select example" name="term" required>
        <option value="">Select Term</option>
        <option value="Term 1">1</option>
        <option value="Term 2">2</option>
        <option value="Term 3">3</option>
      </select>
      <select class="form-select" aria-label="Default select example" name="period" required>
        <option value="{{ period }}" selected>{{ request.session.period }}</option>
        <option value="OPENER">OPENER</option>
        <option value="MID">MID TERM</option>
        <option value="END Term">END TERM</option>
        


      </select>
      <button class="btn btn-warning">Filter</button>
    </div>
  </form> -->
 


  <!-- Content that will show if tests are available -->
  {% if tests %}
    <div style=" color: white; border-radius: 1px; padding: 20px;">
      <div style="display: flex; gap: 30px; margin: 0 auto; width: 95%; justify-content: center; flex-wrap: wrap;">
        {% if user.school.exammode.status and exam %}
          <a href="{% url 'add-score' class.class_id subject %}">
            <button class="btn btn-danger">Add Marks</button>
          </a>
       
        {% endif %}
        {% if tests %}
          <h6>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ csubject }}  {{ class }}
              </a>
            </div>
          </h6>
       
        </div>
      </div>

      <!-- Test Results Table -->
      <table class="container table">
        <thead>
          
          <tr style="background-color: black; color: white; text-transform: capitalize !important;">
            <th><h6>RANK</h6></th>
            <th><h6>STUDENT</h6></th>
            <th><h6>SCORE</h6></th>
            
            <th><h6>GRADE</h6></th>
          </tr><caption> {{ term }} {{ period }} Average :  {% get_class_average class_id subject term period %}</caption>
        </thead>
        <tbody>
          {% for test in tests %}
            <tr>
              <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'students-profile' test.user %}">{{ test.user.studentprofile.get_names }}<br><small>{{ test.user }}</small></a></td>
              
              <td>{{ test.score }}</td>
              <td>{{ test.get_grade }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Grade Count Table -->
      <table class="container table">
        <thead>
          <tr style="background-color: black; color: white; text-transform: capitalize !important;">
            <th><h6>EE</h6></th>
            <th><h6>ME</h6></th>
            <th><h6>AE</h6></th>
            <th><h6>BE</h6></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h6>{% get_grade_count class_id subject tests.0.term 'EE' %}</h6></td>
            <td><h6>{% get_grade_count class_id subject tests.0.term 'ME' %}</h6></td>
            <td><h6>{% get_grade_count class_id subject tests.0.term 'AE' %}</h6></td>
            <td><h6>{% get_grade_count class_id subject tests.0.term 'BE' %}</h6></td>
          </tr>
        </tbody>
      </table>
    {% endif %}
  {% endif %}


  <div>
    {% for topic in topics %}
      <h6>{{topic.order}}) {{ topic.name }}</h6>
      {% with topic.id|get_subtopics as subtopics %}
        {% for subtopic in subtopics %}
          <div style="padding: 20px;">
          <h6 >{{ topic.order }}.{{ forloop.counter }} {{ subtopic.name }}</h6>

          {% with subtopic.id|get_expectations:user.school.id as expectation %}
          {% if expectation >= 80 %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student"  checked>
            <label class="form-check-label" for="{{subtopic.id}}"> EE {{ expectation }} %</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">ME</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">AE</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled >
            <label class="form-check-label" for="{{subtopic.id}}">BE</label>
          </div>
          {% elif expectation < 80 and  expectation >= 50  %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">EE</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" checked>
            <label class="form-check-label" for="{{subtopic.id}}">ME {{ expectation }} %</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">AE</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">BE</label>
          </div>
       
          {% elif expectation < 50 and  expectation >= 30  %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">EE</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled >
            <label class="form-check-label" for="{{subtopic.id}}">ME</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" checked>
            <label class="form-check-label" for="{{subtopic.id}}">AE {{ expectation }} %</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">BE</label>
          </div>
          {% elif expectation < 50 and  expectation >= 30  %}
          
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">EE</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">ME</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">AE</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" checked>
            <label class="form-check-label" for="{{subtopic.id}}">BE {{ expectation }} %</label>
          </div>
          {% else  %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" checked>
            <label class="form-check-label" for="{{subtopic.id}}">{{ expectation }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">EE</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">ME</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">AE</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="{{subtopic.id}}" id="{{subtopic.id}}" value="Student" disabled>
            <label class="form-check-label" for="{{subtopic.id}}">BE </label>
          </div>
          {% endif  %}

          {% endwith %}
        </div>
        {% endfor %}

      {% endwith %}
    <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}
