{% extends 'Teacher/teachers_base.html' %}
{% load custom_filters %}
{% load supervisor_filters %}

{% block content %}



<br><br><br><br>

<div class="container" style="width: 95%;margin: 30px auto;column-gap: 30px ;max-width: 800px;">
    <h6>Migrate or Rollback fee increments for {% get_term %}</h6>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Grade</label>
                <select class="form-select" name="grade" required>
                   <option></option>
                   {% for grade in grades %}
                       <option  value="{{ grade }}">Grade {{ grade }}</option>
                   {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Amount</label>
                <input type="number" class="form-control" name="amount" placeholder="5300" required autocomplete="off">
            </div>
            
            <div class="col-md-6">
                <label class="form-label">Boarding Status</label>
                <select class="form-select" name="boarding" required>
                   <option></option>
                       <option value="1">Boarders</option>
                       <option value="0">Day Scholars</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Gender</label>
                <select class="form-select" name="gender" required>
                   <option></option>
                        <option value="all">All</option>
                       <option  value="Male">Male</option>
                       <option value="Female">Female</option>
                </select>
            </div>
        
            <div class="" id="phone">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="pwd" required>
            </div>
           
            <div class="col-md-12">
                <button class="btn btn-secondary w-100" name="migrate" id="migrate">Save</button>
            </div>
        </div>
    </form>

    

    


    



</div>



{% endblock %}