{% extends 'Supervisor/base.html' %}
{% load custom_filters %}
{% block content %}

<br><br><br><br>
<div class="subject-select-content-container">
    <div style="padding: 40px 0px 0px 75px;" class="btn">
        <a href="{% url 'manage-user' teacher.adm_no %}" class="btn btn-primary" style="color: white;">Manage Teacher<br><h6 style="color: cornflowerbl;">{{ email }}</h6></a>
        
    </div>
    

    <div class="subjects-select-view" style="border-radius: 10px;">
        <a href="{% url 'teachers-info' email %}">
            <div class="subject-select-card" style="height: 230px;">
                Staff Personal Profile
                <hr>
                <br>
                {{ teacher.personalprofile.f_name }} {{ teacher.personalprofile.l_name.0 }} {{ teacher.personalprofile.surname }}
                <br>
                {{ teacher.personalprofile.phone }}
                <br>
                {{ teacher.personalprofile.gender }}
    
                
            </div>
        </a>
        
        <a href="{% url 'teachers-info' email %}" >
            <div class="subject-select-card" style="height: 230px;">
                Teachers Academic Profile
                <hr>
                <br>
                <div>
                    {% is_class_teacher teacher %}
                </div>
                {% for class in classes %}
                    <div>
                        <p>{{ class.class_id.class_name }} - {{ class.subject }}</p>
                    </div>
                {% endfor %}
            </div>
        </a>

        <a href="{% url 'salary-profile' email %}">
            <div class="subject-select-card" style="height: 230px;">
                Teachers Finance
                <hr>
                <br>

                <small>Staff Salry Payments</h6>
                <br>
                <small>Staff Salary Balances</h6>
            </div>
        </a>

        


    </div>





</div>
{% endblock %}