{% extends base_html %}
{% load custom_filters %}
{% block content %}

<div  style="background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%) !important; height: 100vh;color: white;" >
    <form method="post" class="container" style="">
        {% csrf_token %}
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="mb-3">
           <label for="exampleFormControlTextarea1" class="form-label">Enter your queries below</label>
           <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message" required></textarea>
        </div>
           <button class="btn btn-primary">Submit</button>


    </form>

 </div>








{% endblock %}