{% extends template %}
{% load custom_filters %}
{% load static %}

{% block content %}




<div class="subject-select-content-continer">
<div class="container" style="margin-top: 100px;">
        <br>
    <form>
        <div class="dropdown" style="padding-left:25px;">
            <button class="btn btn-secondary dropdown-toggle" name="select" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Grade {{ grade }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'subject-view' 4 %}">4</a></li>
                <li><a class="dropdown-item" href="{% url 'subject-view' 5 %}">5</a></li>
                <li><a class="dropdown-item" href="{% url 'subject-view' 6 %}">6</a></li>
                <li><a class="dropdown-item" href="{% url 'subject-view' 7 %}">7</a></li>
            </ul>
        </div>
    </form>

</div>

{% if not subjects %}

{% else %}


    <div>
        <div class="subjects-select-view">

            {% for subject in subjects %}
            <a href="{% url 'subject-id-analysis' subject.id  %}">
            <div class="subject-select-card">
                <div class="booked-class-ody">
                    
                    
                        <h5 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">{{ subject }} </h5>
                   

                    <h6><i class="bi bi-gear"> </i> Grade {{ subject.grade }}</p>

                </div>
                <br>

                <div class="subject-select-in-card">
                    <h6>Topic {{ progress_topic.order }} </h6>


                    <small><i class="bi bi-bookmark"></i>
                        {{ progress_topic }}

                    </small>
                    <br>

              
                </div>
                <br>
                <div>
                    <button class="btn btn-info">Analytics</button>

                </div>

            </div>
         </a>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}

</div>



{% endblock %}