{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
  <title>Mwalimu Private</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" name="description" content="Discover Mwalimu Private, Kenya's top e-learning platform
                                               tailored for the CBC curriculum. Access expert-led courses,
                                                track progress, and enhance learning with personalized education.
                                                 Enroll today for a flexible, CBC-compliant learning experience!">
  
                                                 <link href="https://fonts.googleapis.com/css2?family=Dekko&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<!-- Using package from CDN -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@weavy/dropin-js@18.0.1/dist/weavy.js" crossorigin="anonymous"></script>
<script>
  const access_token = "12o3";
  // url to your Weavy environment
  Weavy.url = "https://ced0667cb8b14d76ba02bf7764860ddc.weavy.io";
  // token factory that returns the access_token for your demo user
  Weavy.tokenFactory = async () => access_token;
</script> -->

  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link  rel="stylesheet" type="text/css" href="{% static 'Users/styles.css' %}">
  <link  rel="stylesheet" type="text/css" href="{% static 'SubjectList/SubjectLiist.css' %}">
<link  rel="stylesheet" type="text/css" href="{% static 'Guardian/Guardian.css' %}">
  
  <link  rel="stylesheet" type="text/css" href="{% static 'Supervisor/Supervisor.css' %}">
  <link  rel="stylesheet" type="text/css" href="{% static 'Teacher/teacher.css' %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

  <meta name="google-site-verification" content="vd6s18YS9mfPMMoH5srkND_VurceXLA1D6g2eAWtIEE" />
  <link rel="icon" href="{% static 'Users/favicon.png'  %}">
</head>
<header>
  <link rel="icon" href="{% static 'Users/favicon.png'  %}">
</header>
<body >




    <!-- <nav class="navbar navbar-dark fixed-top" id="top-bar" style="background-color:rgba(29, 25, 46, .8);">
      <div class="container-fluid">
        <h6 class="zara"  href="#" style="text-decoration: none !important;">Mwalimu Private</h6>
        <button class="navbar-toggler" type="button" name="nav-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">.
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" style="color:black;">
       


          <li>
              <a class="nav-link" href="{% url 'home' %}" ><i class="bi bi-house" > </i>Home</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'rout' %}" ><i class="bi bi-ui-checks" > </i>Portal</a>
        </li>
        <li>
            <a class="nav-link"  href="{% url 'home' %}#about" ><i class="bi bi-people" > </i>About Us</a>
        </li>
          

          <li>
            <a class="nav-link" href="{% url 'home' %}#contact" ><i class="bi bi-headset" > </i>Contact Us</a>
        </li>

       

            </ul>

          </div>
        </div>
      </div>
    </nav> -->

    
    {% if messages %}


    <div class="text-center" style="position:relative;margin-top:55px;">
      {% for message in messages %}
        {% if message.tags ==  'error' %}
          <h6 class="alert alert-danger">{{ message }}</h6>
        {% elif message.tags == 'info' %}
            <h6 class="alert alert-info">{{ message }}</h6>
        {% elif message.tags == 'success' %}
            <h6 class="alert alert-success">{{ message }}</h6>
        {% elif message.tags == 'warning' %}
            <h6 class="alert alert-warning">{{ message }}</h6>
  
  
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <!-- <img src="{% static 'Users/kids.webp' %}" class="img-fluid" alt="..."> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" style="background-color: rgb(7, 2, 31) !important; color: white !important; position: sticky; top: 0; z-index: 1000;">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="#" style="">Mwalimu Private</a>
      
      <!-- Toggler for responsive menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Links and buttons -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Center Links -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#home" style="color: white !important;font-size: 22px;font-weight: bolder;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about" style="color: white !important;font-size: 22px;font-weight: bolder;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services" style="color: white !important;font-size: 22px;font-weight: bolder;">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer" style="color: white !important;font-size: 22px;font-weight: bolder;">Contact</a>
          </li>
        </ul>
        <!-- Right Buttons -->
        <div class="d-flex">
          <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-custom" style="color: white;font-size: 22px;font-weight: bolder;">Login</a>
          <a href="{% url 'register' %}" class="btn btn-dark btn-custom" style="margin-left: 20px;color: white;font-size: 22px;font-weight: bolder;">Register</a>
        </div>
      </div>
    </div>
</nav>

<div class="main-holder" id="home">
  
 <div class="main-section">
  
  <div style="padding: 60px;max-width: 850px;">
    <div style=""><i class="bi bi-snow"></i> Zara</div>
    <h3 class="main-header">E-LEARNING + AI</h3>
    <h3  class="sub-header">Mwalimu Private</h3>
    <small class="" style="width: 100px !important;">
      Yourch child's number #1 best online e-learning platform. Come and be part of Kenyas best edutech community !
    </small>
       <br><br>
       {% if user.is_authenticated %}
          <a class="btn btn-outline-secondary" href="{% url 'rout' %}" style="text-decoration:double;color: white;border-radius: 20px;border-color: rgb(255, 255, 255);">E-Learning</a>
        {% else %}
          <a class="btn btn-outline-secondary" href="{% url 'register' %}" style="text-decoration:double;">Get Started</a>
          <a class="btn btn-outline-primary" href="{% url 'login' %}" style="text-decoration:wavy;">Login</a>
        {% endif %}
        <br><br>
        <div style="color: rgb(57, 194, 29);">
          <h6><i class="bi bi-phone"> </i>+254 739 363 886</h6>
          <h6><i class="bi bi-whatsapp"> </i>+254 739 363 886</h6>
        </div>
  </div>
 
  <div style="" class="main-image">
      <img src="{% static 'Users/mainbg.webp' %}" style="width: 450px;object-fit: contain;border-radius: 130px 10px 120px 45px;">
  </div>

 </div>
</div>



<div class="achievements" id="services">
  <div style="background-color: #ECFDF5 !important;padding: 30px;margin-top: 20px;" class="achieve-card">
    <h6><i class="bi bi-calendar-check"> </i>Learners + Educators</h6><hr>
    Mwalimu Private connects educators, learners, and parents to enhance learning through seamless collaboration and support.
   
  </div>
  <div class="achieve-card" style="margin-top: 20px; background-color: black;color: white;padding: 30px;">
    <h6><i class="bi bi-robot"> </i>AI Assistant</h6><hr>
    Mwalimu Private features AI-powered support to teach students, assist with assignments, and enhance learning efficiency.
      
  </div>
  <div class="achieve-card" style="background-color: #ECFDF5;padding: 30px;margin-top: 20px;">
    <h6><i class="bi bi-journal-check"> </i>Online Exams</h6><hr>
    Mwalimu Private offers online exams with instant marking and immediate results, making assessments faster and more efficient.
  </div>
  <div class="achieve-card" style="margin-top: 20px; background-color: black;color: white;padding: 30px;">
    <h6><i class="bi bi-graph-up"> </i>Progress Tracking</h6><hr>
    Mwalimu Private includes progress tracking to help identify a child's strengths and weaknesses, ensuring effective learner management and personalized growth.
  </div>
</div>

<br><br>
    <div id="about" style="background-color: rgba(243, 239, 239, .3);">
      <br><br>
      <h5 class="text-center">About Us</h5>
      <br>
  
      <div class="main-about" style="width: 100% !important;">
          <!-- <div style="padding: 30px;">
              <img src="{% static 'Users/gpt.webp' %}" alt="{% static 'Users/lower.jpg' %}" width="90%"  style="object-fit: cover;"  >
          </div> -->
          <div style="width: 95%;padding: 30px;margin:0 auto;">
              <h5 style="color: rgba(89, 12, 134, 0.507);">Who Is Mwalimu Private ?</h5>
              <p style="font-size: 20px;">Mwalimu Private is a cutting-edge e-learning platform designed to connect learners with educators and improve academic performance. With an easy-to-use interface and a variety of academic resources, it provides students of all ages with the tools they need to succeed—whether they’re struggling in a subject or aiming to excel further. Mwalimu Private makes learning accessible, engaging, and effective for all. </p>
                                 <br>
                                 <!-- {% if user.is_authenticated %}
                                 <a class="btn btn-outline-secondary" href="{% url 'rout' %}" style="text-decoration:double;color: rgb(0, 0, 0) !important;">E-Learning</a>
                                 {% else %}
                                 <a class="btn btn-outline-secondary" href="{% url 'register' %}" style="text-decoration:double;color: white !important;">Get Started</a>
                                 <a class="btn btn-outline-primary" href="{% url 'login' %}" style="text-decoration:wavy;color: white !important;">Login</a>
                                 {% endif %} -->
          </div>

          <div class="about-section">
            <div class="about-card">
              <h6>Private Tutoring</h6><hr>
              Mwalimu Private offers personalized private tutoring to provide focused, one-on-one learning experiences for students.
            </div>
            <div class="about-card">
              <h6>Institution Edutech</h6><hr>
              Mwalimu Private provides e-learning solutions to educational institutions, enhancing learning experiences through digital platforms and tools.
            </div>
          
           

          </div>
      </div><br>
  </div><br><br>
<div style="background-color:rgb(255, 254, 254)" >
    <br><br>
    <h5 class="text-center" style="color: rgb(2, 1, 1);">Our Curricular</h5>
    <br>
    <div class="event-view" style="text-align: center;row-gap: 30px ;column-gap: 20px; color: rgb(19, 19, 19);padding: 20px;margin: 0 auto;background-color: white !important;height: auto;" >
        <div class="achieve-card" style="color: rgb(15, 12, 12);height: 250px;padding: 0 !important;margin: 10px auto;background-color: aliceblue;">
            <!-- <img src="{% static 'Users/mug.webp' %}" alt="{% static 'Users/lower.jpg' %}" style="width: 100%;height: 60%;object-fit: cover;"> -->
            <br><br>
            
            <h5>CBC Compliance</h5>
          
            <h6 style="padding: 10px;">We offer comprehensive learning content for lower primary, upper primary, and junior secondary levels, tailored to meet your educational needs.</h6>
            
        </div>
        <div class="achieve-card" style="height: 250px;padding: 0 !important;margin: 10px auto;background-color: aliceblue;">
            <!-- <img src="{% static 'Users/jj.png' %}" alt="{% static 'Users/home.png' %}" style="width: 100%;height: 60%;object-fit: cover;"> -->
            <br><br>
            <h5>Aptitude & IQ</h5>
        
            <h6 style="padding: 10px;">We offer both aptitude and IQ tests to assess specific skills and overall intellectual ability, helping you identify strengths and potential</h6>        </div>
        <div class="achieve-card" style="height: 250px;padding: 0 !important;margin: 10px auto;background-color: aliceblue;color: rgb(7, 6, 6);">
            <!-- <img src="{% static 'Users/lib.webp' %}" alt="{% static 'Users/lower.jpg' %}" style="width: 100%;height: 60%;object-fit: cover;"> -->
            <br><br>
            <h5>IT Competency</h5>
            <h6 style="padding: 10px;">We offer IT classes covering the basics of computer introduction, networks, and programming, designed to build a solid foundation for beginners.</h6></div>

    </div>
    <div style="margin-top: 50px;">
.
    </div>
</div>

<div style="background-color: rgba(243, 239, 239, .3) !important"><br><br>
  <h5 class="text-center" style="color: rgb(20, 19, 18);">Subscriptions</h5>
<subscription><div><br>
  <div class="text-center">
    <!-- <h5 class="btn btn-secondary">Grade 3 - 6</h5> -->
  </div>
  
  <div class="three" style="">
    <a href="{% url 'specific-pay' '185' %}">
      <div class="sub-card">
        <h5>Silver</h5>
        <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Progress Tracking <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Test Analytics <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-robot"></i> AI Assistant <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
        <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
        <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
        <br>
        <h2>Ks 185</h2>
      </div>
    </a>
    <a href="{% url 'specific-pay' '370' %}">
      <div class="sub-card">
        <h5>Gold</h5>
        <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Progress Tracking <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Test Analytics <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-robot"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
        <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
        <br>
        <h2 style="color: cornflowerblue;">Ks 370</h2>
      </div>
    </a>

    <a href="{% url 'specific-pay' '500' %}">
      <div class="sub-card">
        <h5>Platimun</h5>

        <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Progress Tracking <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Test Analytics <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-robot"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6> -->
        <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <br>
        <h2 style="color: coral;">Ks 500</h2>
      </div>
    </a>


  </div></div>
</subscription>



</div>
<br><br><br><br>
<!-- <div style="background-color: black;color: white;opacity: .95;">
  <div id="contact" style="width: 80%;margin: 0 auto;"><br><br>
    <h5 class="text-center" >Contact Us</h5>
    <br>

    <div class="two" style="">
        <div style="padding: 30px;color: white;" >
            <h6><i class="bi bi-phone"></i> Phone +254 739 363 883</h6>
             <br>
            <h6><i class="bi bi-whatsapp"></i> <a style="color: white;" href="https://wa.me/+254739363883?text=Hello%20,%20I%20would%20like%20to%20know%20more%20about%20your%20E-Learning%20platform%20." target="_blank">Message us WhatsApp +254 739 363 883</a>
            </h6>
            <br>  
            <h6><i class="bi bi-facebook"></i> Mwalimu Private</h6>
       
        </div>
        <div style="padding: 30px;">
            <div class="accordion container" id="changePhoneNumberAccordion" >
                <div class="accordion-item">
                  <h2 class="accordion-header" id="changePhoneNumberHeader">
                    <button class="accordion-button" name="accordion-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#changePhoneNumberCollapse" aria-expanded="true" aria-controls="changePhoneNumberCollapse">
                      <small>Contact-Us</small>
                    </button>
                  </h2>
                  <div id="changePhoneNumberCollapse" class="accordion-collapse" aria-labelledby="changePhoneNumberHeader" data-bs-parent="#changePhoneNumberAccordion">
                    <div class="accordion-body">
                      <form method="post" name="contact-us-form">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="first-name">Full Name*<small style="color: crimson;">(required)</small></label>
                          <input  name="names" id="first-name" class="form-control" placeholder="John Doe" required>
                        </div>
                       
                        
                        
                        
                       
                        <br>
                        <div class="form-group">
                          <label for="phone-number">Message*<small style="color: crimson;">(required)</small></label>
                          <textarea aria-label="info"  name="message" class="form-control" rows="6"  required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Phone Number or Email<small style="color: crimson;"></small></label>
                            <input type="text" name="contact" class="form-control" id="phone-number" placeholder="0712345678"  required>
                          </div>
                      
            
                          <br>
                        <button type="submit" class="btn btn-primary" name="profile">Send</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

   
</div>
</div> -->

    </div>

    
   

    <section class="footer" id="footer">
 
      <div class="footer-column" style="margin-top: -60px;">
       <div class="company" style="margin-top: 80px;">
     
         <div style="padding-left: 30px; max-width: 500px;">
          <h5 style="font-size: 24px !important;font-weight: bolder;">Mwalimu Private</h5>
         <p st>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aut possimus voluptates animi ex libero,
            similique officia quae tempora sequi pariatur voluptas minus, est dolore odio nihil eos voluptatum deleniti.
           </p>
         </div>
       </div>
       <div class="uri" style="margin-top: 80px;">
         <h5  style="font-size: 24px !important;font-weight: bolder;">Quick Links</h5>
         <div style="padding-left: 30px;">
           <ul >
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <!-- <li><a href="#contact">Contact Us</a></li> -->
             <li><a href="{% url 'rout' %}">Portal</a></li>
             <li></li>
           </ul>
         </div>
       </div>
       <div class="contacts" style="margin-top: 80px;">
         <h5 style="font-size: 24px !important;font-weight: bolder;">Our Contacts</h5>
         <h6><i class="bi bi-phone"> </i>+254 739 363 883</h6>
         <h6><i class="bi bi-facebook"> </i>Mwalimu Private</h6>
         <h6><a style="color: white !important;" href="https://wa.me/254739363883?text=Hello%20I%20am%20interested%20in%20your%20services" target="_blank"><i class="bi bi-whatsapp"> </i>+254 739 363 883</a></h6>
       </div>
      </div>
      <br><br>
      <a href="tel:+254742134431" style="color: white !important; "><h6 class="text-center text-muted">developed by Crimsons Analytics</h6></a>
     </section>


</body>
</html>










