{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
  <title>Mwalimu Private</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" name="description" content="Discover Mwalimu Private, Kenya's top e-learning platform
                                               tailored for the CBC curriculum. Access expert-led courses,
                                                track progress, and enhance learning with personalized education.
                                                 Enroll today for a flexible, CBC-compliant learning experience!">
  

<!-- Using package from CDN -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@weavy/dropin-js@18.0.1/dist/weavy.js" crossorigin="anonymous"></script>
<script>
  const access_token = "12o3";
  // url to your Weavy environment
  Weavy.url = "https://ced0667cb8b14d76ba02bf7764860ddc.weavy.io";
  // token factory that returns the access_token for your demo user
  Weavy.tokenFactory = async () => access_token;
</script> -->

  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link  rel="stylesheet" type="text/css" href="{% static 'Users/styles.css' %}">
  <link  rel="stylesheet" type="text/css" href="{% static 'SubjectList/SubjectLiist.css' %}">
<link  rel="stylesheet" type="text/css" href="{% static 'Guardian/Guardian.css' %}">
  
  <link  rel="stylesheet" type="text/css" href="{% static 'Supervisor/Supervisor.css' %}">
  <link  rel="stylesheet" type="text/css" href="{% static 'Teacher/teacher.css' %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

  <meta name="google-site-verification" content="vd6s18YS9mfPMMoH5srkND_VurceXLA1D6g2eAWtIEE" />
  <link rel="icon" href="{% static 'Users/favicon.png'  %}">
</head>
<header>
  <link rel="icon" href="{% static 'Users/favicon.png'  %}">
</header>
<body >




    <nav class="navbar navbar-dark fixed-top" id="top-bar" style="background-color:rgba(29, 25, 46, .8);">
      <div class="container-fluid">
        <h6 class="zara"  href="#" style="text-decoration: none !important;">Mwalimu Private</h6>
        <button class="navbar-toggler" type="button" name="nav-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">.
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" style="color:black;">
       


          <li>
              <a class="nav-link" href="{% url 'home' %}" ><i class="bi bi-house" > </i>Home</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'rout' %}" ><i class="bi bi-ui-checks" > </i>Portal</a>
        </li>
        <li>
            <a class="nav-link"  href="{% url 'home' %}#about" ><i class="bi bi-people" > </i>About Us</a>
        </li>
          

          <li>
            <a class="nav-link" href="{% url 'home' %}#contact" ><i class="bi bi-headset" > </i>Contact Us</a>
        </li>

       

            </ul>

          </div>
        </div>
      </div>
    </nav>

    
    {% if messages %}


    <div class="text-center" style="position:relative;margin-top:55px;">
      {% for message in messages %}
        {% if message.tags ==  'error' %}
          <h6 class="alert alert-danger">{{ message }}</h6>
        {% elif message.tags == 'info' %}
            <h6 class="alert alert-info">{{ message }}</h6>
        {% elif message.tags == 'success' %}
            <h6 class="alert alert-success">{{ message }}</h6>
        {% elif message.tags == 'warning' %}
            <h6 class="alert alert-warning">{{ message }}</h6>
  
  
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <!-- <img src="{% static 'Users/kids.webp' %}" class="img-fluid" alt="..."> -->
<div>
  <img src="{% static 'Users/the.png' %}" alt="..." style="width: 100%;height: auto;">
</div>



<div class="" style="padding-top: 9px; margin: 0%;">
    
    <br><br>
    <!-- <div class="cotainer"  >
        
        <div style="padding: 30px;">
          <h5 style="font-family: cursive !important;color: coral;">Mwalimu Private</h5>
          <br>
          <p style="font-size: 24px;font-family:cursive !important ;color: rgba(89, 12, 134, 0.607);">Welcome to Mwalimu Private, your trusted e-learning platform offering tailored content for primary and junior secondary students. Explore interactive lessons in line with the CBC curriculum, covering a wide range of subjects to enhance your learning experience.</p>
          {% if user.is_authenticated %}
          <a class="btn btn-outline-secondary" href="{% url 'rout' %}" style="text-decoration:double;">E-Learning</a>
          {% else %}
          <a class="btn btn-outline-secondary" href="{% url 'register' %}" style="text-decoration:double;">Get Started</a>
          <a class="btn btn-outline-primary" href="{% url 'login' %}" style="text-decoration:wavy;">Login</a>
          {% endif %}
        </div>
        
         <img  alt="{% static 'Users/hom.png' %}" height="60%"   style="width: 40%; height: auto;padding-left: 40px;" >         
    </div> -->
<br><br>
    <div id="about">
      <h5 class="text-center">About Us</h5>
      <br>
  
      <div class="two">
          <div style="padding: 30px;">
              <img src="{% static 'Users/gpt.webp' %}" alt="{% static 'Users/lower.jpg' %}" width="90%"  style="object-fit: cover;"  >
          </div>
          <div style="width: 90%;padding: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
              <h5 style="color: rgba(89, 12, 134, 0.507);">Who Is Mwalimu Private ?</h5>
              <p style="font-size: 20px;">Mwalimu Private is a revolutionary e-learning platform designed to connect learners with
                 educators in order to improve their grades. With a user-friendly 
                 interface and a wide range of academic resources, Mwalimu Private aims to make learning
                  more accessible and engaging for students of all ages.
                               Whether a student is struggling with a particular subject or simply wants to enhance
                                their academic performance, Mwalimu Private is the ultimate destination for achieving
                                 success. </p>
                                 <br>
                                 {% if user.is_authenticated %}
                                 <a class="btn btn-outline-secondary" href="{% url 'rout' %}" style="text-decoration:double;">E-Learning</a>
                                 {% else %}
                                 <a class="btn btn-outline-secondary" href="{% url 'register' %}" style="text-decoration:double;">Get Started</a>
                                 <a class="btn btn-outline-primary" href="{% url 'login' %}" style="text-decoration:wavy;">Login</a>
                                 {% endif %}
          </div>
      </div>
  </div><br><br>
<div style="background-color:" >
    <br><br>
    <h5 class="text-center" style="color: coral;">Our Curricular</h5>
    <br>
    <div class="event-view" style="text-align: center ;column-gap: 20px; color: rgb(19, 19, 19);padding: 20px;margin: 20px auto;background-color: white;" >
        <div class="event-card" style="color: white;height: 450px;padding: 0 !important;margin: 0;background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);">
            <img src="{% static 'Users/mug.webp' %}" alt="{% static 'Users/lower.jpg' %}" style="width: 100%;height: 60%;object-fit: cover;">
            <br><br>
            
            <h5>CBC Compliance</h5>
          
            <h6 style="padding: 10px;">We offer comprehensive learning content for lower primary, upper primary, and junior secondary levels, tailored to meet your educational needs.</h6>
            
        </div>
        <div class="event-card" style="height: 450px;padding: 0 !important;margin: 0;">
            <img src="{% static 'Users/jj.png' %}" alt="{% static 'Users/home.png' %}" style="width: 100%;height: 60%;object-fit: cover;">
            <br><br>
            <h5>Aptitude & IQ</h5>
        
            <h6 style="padding: 10px;">We offer both aptitude and IQ tests to assess specific skills and overall intellectual ability, helping you identify strengths and potential</h6>        </div>
        <div class="event-card" style="height: 450px;padding: 0 !important;margin: 0;background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);color: white;">
            <img src="{% static 'Users/lib.webp' %}" alt="{% static 'Users/lower.jpg' %}" style="width: 100%;height: 60%;object-fit: cover;">
            <br><br>
            <h5>IT Competency</h5>
            <h6 style="padding: 10px;">We offer IT classes covering the basics of computer introduction, networks, and programming, designed to build a solid foundation for beginners.</h6></div>

    </div>
    <div style="margin-top: 50px;">
.
    </div>
</div>

<br><br>
<h5 class="text-center" style="color: coral;">Subscriptions</h5><br>
<subscription><div><br>
  <div class="text-center">
    <h5 class="btn btn-secondary">Grade 4 - 6</h5>
  </div>
  
  <div class="three">
    <a href="{% url 'specific-pay' '185' %}">
      <div class="sub-card">
        <h5>Silver</h5>
        <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Progress Tracking <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Test Analytics <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-robot"></i> AI Assistant <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
        <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
        <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
        <br>
        <h2>Ks 185</h2>
      </div>
    </a>
    <a href="{% url 'specific-pay' '370' %}">
      <div class="sub-card">
        <h5>Gold</h5>
        <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Progress Tracking <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Test Analytics <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-robot"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
        <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
        <br>
        <h2 style="color: cornflowerblue;">Ks 370</h2>
      </div>
    </a>

    <a href="{% url 'specific-pay' '500' %}">
      <div class="sub-card">
        <h5>Platimun</h5>

        <h6><i class="bi bi-"></i> Online Tests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Progress Tracking <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Test Analytics <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-robot"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6> -->
        <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <br>
        <h2 style="color: coral;">Ks 500</h2>
      </div>
    </a>


  </div></div>
</subscription>



<br><br>

<subscription >
  <div style="background-color: rgb(26, 43, 43);">
    <br>
  <div class="text-center">
    <h5 class="btn btn-primary"> AI Only</h5>
  </div>
  <div class="three">
    <a href="{% url 'specific-pay' '150' %}">
      <div class="sub-card">
        <h5>Basic</h5>
        <h6><i class="bi bi-"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Tokens 8 500 <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Image Upload <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
        <h6><i class="bi bi-robot"></i> Image Generation <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
        <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
        <!-- <h6><i class="bi bi-"></i> 30 Days <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
        <br>
        <h2>Ks 150</h2>
      </div>
    </a>
    <a href="{% url 'specific-pay' '300' %}">
      <div class="sub-card">
        <h5>Advanced</h5>
        <h6><i class="bi bi-"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Tokens 17 000  <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Image Upload <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-robot"></i> Image Generation <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6>
        <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
        <!-- <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-x" style="color: crimson;font-size:30px"> </i></h6> -->
        <br>
        <h2 style="color: cornflowerblue;">Ks 300</h2>
      </div>
    </a>

    <a href="{% url 'specific-pay' '500' %}">
      <div class="sub-card">
        <h5>Premium</h5>

        <h6><i class="bi bi-"></i> AI Assistant <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Tokens 25 000<i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-"></i> Image Generation<i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <h6><i class="bi bi-robot"></i> Image Upload <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6>
        <!-- <h6><i class="bi bi-"></i> Personal Tutor <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6> -->
        <!-- <h6><i class="bi bi-"></i> Online Contests <i class="bi bi-check" style="color: gold;font-size:30px"> </i></h6> -->
        <br>
        <h2 style="color: coral;">Ks 500</h2>
      </div>
    </a>


  </div></div>
</subscription>

<br><br><br><br>
<div id="contact">
    <h5 class="text-center">Contact Us</h5>
    <br>

    <div class="two" style="background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);">
        <div style="padding: 30px;color: white;" >
            <h6><i class="bi bi-phone"></i> Phone +254 739 363 883</h6>
            <!-- <h6><i class="bi bi-envelope"></i> excel@gmail.com</h6> -->
             <br>
            <h6><i class="bi bi-whatsapp"></i> <a style="color: white;" href="https://wa.me/+254739363883?text=Hello%20,%20I%20would%20like%20to%20know%20more%20about%20your%20E-Learning%20platform%20." target="_blank">Message us WhatsApp +254 739 363 883</a>
            </h6>
            <br>  
            <h6><i class="bi bi-facebook"></i> Mwalimu Private</h6>
            <!-- <h6><i class="bi bi-tiktok"></i> @ExcelSchools</h6> -->
            <!-- <h6><i class="bi bi-instagram"></i> @ExcelSchools</h6> -->
        </div>
        <div style="padding: 30px;">
            <div class="accordion container" id="changePhoneNumberAccordion" >
                <div class="accordion-item">
                  <h2 class="accordion-header" id="changePhoneNumberHeader">
                    <button class="accordion-button" name="accordion-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#changePhoneNumberCollapse" aria-expanded="true" aria-controls="changePhoneNumberCollapse">
                      <small>Contact-Us</small>
                    </button>
                  </h2>
                  <div id="changePhoneNumberCollapse" class="accordion-collapse" aria-labelledby="changePhoneNumberHeader" data-bs-parent="#changePhoneNumberAccordion">
                    <div class="accordion-body">
                      <form method="post" name="contact-us-form">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="first-name">Full Name*<small style="color: crimson;">(required)</small></label>
                          <input  name="names" id="first-name" class="form-control" placeholder="John Doe" required>
                        </div>
                       
                        
                        
                        
                       
                        <br>
                        <div class="form-group">
                          <label for="phone-number">Message*<small style="color: crimson;">(required)</small></label>
                          <textarea aria-label="info"  name="message" class="form-control" rows="6"  required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Phone Number or Email<small style="color: crimson;"></small></label>
                            <input type="text" name="contact" class="form-control" id="phone-number" placeholder="0712345678"  required>
                          </div>
                      
            
                          <br>
                        <button type="submit" class="btn btn-primary" name="profile">Send</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <!-- <div class="updaes">
        <h5 style="color: cornflowerblue;text-align: center;font-family: cursive;">Events and Announcements</h5>

        <div class="updates-info">
          
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Title {{ latest.title }}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>{{ latest.date }}.</strong> {{ latest.description }}
                  <br><br>
                  {% if latest.file %}
                        <a href="{{ latest.file.url }}" download><i class="bi bi-cloud-arrow-down" style="font-size: 15px;color: cornflowerblue;"> Download File</i> </a>
                        {% endif %}
                </div>
              </div>
            </div>
            {% for update in updates %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ update.id }}" aria-expanded="false" aria-controls="collapse{{ update.id }}">
                        {{ update.title }}
                    </button>
                </h2>
                <div id="collapse{{ update.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>{{ update.date }}.</strong> {{ update.description }}
                        <br><br>
                        {% if update.file %}
                        <a href="{{ update.file.url }}" download><i class="bi bi-cloud-arrow-down" style="font-size: 15px;color: cornflowerblue;"> Download File</i> </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

          
          </div>
          
        </div>
      </div> -->
</div>

    </div>

    
   




</body>
</html>










