{% extends base_html %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container" style="width: 90%;max-width: 800px;margin: 0 auto;">
        <br>
        <br>
        <br>
        <div class="profile">
              <p>{{ user.personalprofile.get_names|title }} <button class="btn btn-info">{{ user.role }}</button></p>
            
        </div>


<!-- <button class="btn btn-outline-secondary">REFERAL CODE : {{ user.id }}</button> -->

        <div class="">




<br>

  <div class="accordion" id="changePhoneNumberAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="changePhoneNumberHeader">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#changePhoneNumberCollapse" aria-expanded="true" aria-controls="changePhoneNumberCollapse">
          <small>Edit Profile</small>
        </button>
      </h2>
      <div id="changePhoneNumberCollapse" class="accordion-collapse" aria-labelledby="changePhoneNumberHeader" data-bs-parent="#changePhoneNumberAccordion">
        <div class="accordion-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input  name="first-name" id="first-name" class="form-control" value="{{ guardian.personalprofile.f_name }}" required>
            </div>
            <div class="form-group">
              <label for="last-name">Last Name</label>
              <input  name="last-name" class="form-control" id="last-name" value="{{ guardian.personalprofile.l_name }}" required>
            </div>
            <div class="form-group">
              <label for="surname">Surname</label>
              <input id="surname"  name="surname" class="form-control" value="{{ guardian.personalprofile.surname }}" required>
            </div>
            <div class="form-group">
              <label for="phone-number">Phone Number</label>
              <input type="tel" name="phone-number" class="form-control" id="phone-number" placeholder="{{ guardian.personalprofile.phone }}" >
            </div>

              <br>
            <button type="submit" class="btn btn-primary" name="profile">Update Profile Info</button>
          </form>
        </div>
      </div>
    </div>
  </div>


            <br>
            <br>
        </div>
  
  
        


        

    
    
    


</div>
{% endblock %}