{% extends 'Teacher/teachers_base.html' %}
{% block content %}


<br><br><br><br>
{% if period.status %}
<div class="container" style="width: 95%;max-width: 900px;margin: 0 auto;">
    <form method="post">
        {% csrf_token %}

        <h6 >{{ subject.name }} grade {{ subject.grade }} {{ period.period }} Term Period</h6>
        {% if students %}

        <br>
            <select id="student" class="form-select"  aria-label="Default select example" name="user" required>
                {% for student in students %}
                    <option value="{{ student.user.adm_no }}">{{ student.user.studentprofile.get_names }} {{ student.user.adm_no }}</option>
                {% endfor %}
                
            </select>
        <br>

        
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="inputField3" class="form-label">Score</label>
                <input type="number" class="form-control" id="inputField3" name="score" maxlength="3" placeholder="score" required>
            </div>
        </div>
        <button type="submit" class="btn btn-warning">Save</button>
        {% endif %}
    </form>

    <br><br>
    <table class="container table">
        <thead>
          <tr style="background-color: black;color: white;text-transform: capitalize !important;">
            <th><h6>ID</h6></th>
            <th><h6 >STUDENT</th></h6></th>
            <!-- <th><h6 >ADM No</th></h6></th> -->
            <th><h6>SCORE</h6></th>
          </tr>
        </thead>
        <tbody>
        {% for test in scores %}
          <tr><td>{{ forloop.counter }}</td>
            
                <td><a href="{% url 'students-profile' test.user %}">{{ test.user.studentprofile.get_names }}<br><small>{{ test.user.adm_no }}</small></a></td>
            <td>
                <form method="post" class="input-group" style="width: 200px !important;">
                    {% csrf_token %}
                    <input type="number" class="form-control"  value="{{ test.score }}" id="inputField3" name="new" maxlength="3" placeholder="{{ test.score }}" required>
                    <button class="btn btn-dark" value="{{ test.user }}" name="update">Update</button>
                </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
     </table>

    <div>
    
    </div>



</div>
{% else %}

{% endif %}





{% endblock %}