{% extends 'Supervisor/base.html' %}
{% load static %}
{% load supervisor_filters %}
{% block content %}



<div class="container" style="width: 90%;margin-top: 100px;">
   <div style="justify-self: end;padding-right: 60px;">
    <a class="btn btn-secondary" href="{% url 'invoices' %}">Invoices</a>
    <a href="{% url 'create-expense' %}" style="text-align: right;"><button class="btn btn-primary">Add Expense</button></a>
   </div>
    <br>

    <div class="expenses">
        <div class="data-card" id="expense"  style="color: white !important;">
            <div style="display: flex;flex-wrap: nowrap;column-gap: 10px;">
                <small style="background-color:#ffb6b9 ;border-radius: 5px;padding: 5px;">Expense {{ totals }}</small>
                <small style="background-color:#61c0bf ;border-radius: 5px;padding: 5px;">Income {{ incomes }}</small>
            </div>
            <form method="post">
                {% csrf_token %}
            
                <div class="dropdown top-left">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ year }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" name="year" value="2022">2022</button></li>
                        <li><button class="dropdown-item" name="year" value="2023">2023</button></li>
                        <li><button class="dropdown-item" name="year" value="2024">2024</button></li>
                    </ul>
                </div>
            </form>
            <canvas id="barChart" width="500"  height="220"></canvas>

        </div>

        <div class="data-card" id="data" style="width: 100% !important;overflow-y: scroll;">
            <button class="btn btn-secondary">Incomes</button>
            <br>
            <div
                style="display: grid;grid-template-columns: repeat(2, .8fr);column-gap: 20px;margin: 20px auto;width: 90%;">
                <div>
                    <h6>Expenses</h6>
                    <strong>Jan {% get_expenses year '1' user.school %}</strong><br>

                    <strong>Feb {% get_expenses year '2' user.school %}</strong><br>
                    <hr>
                    <strong>Mar {% get_expenses year '3' user.school %}</strong><br>
                    <strong>Apr {% get_expenses year '4' user.school %}</strong><br>
                    <hr>
                    <strong>May {% get_expenses year '5' user.school %}</strong><br>
                    <strong>Jun {% get_expenses year '6' user.school %}</strong><br>
                    <hr>
                    <strong>Jul {% get_expenses year '7' user.school %}</strong><br>
                    <strong>Aug {% get_expenses year '8' user.school %}</strong><br>
                    <hr>
                    <strong>Sep {% get_expenses year '9' user.school %}</strong><br>
                    <strong>Oct {% get_expenses year '10' user.school %}</strong><br>
                    <hr>
                    <strong>Nov {% get_expenses year '11' user.school %}</strong><br>
                    <strong>Dec {% get_expenses year '12' user.school %}</strong><br>
                </div>

                <div>
                    <h6>Incomes</h6>
                    <strong>Jan {% get_incomes year '1' user.school %}</strong><br>

                    <strong>Feb {% get_incomes year '2' user.school %}</strong><br>
                    <hr>
                    <strong>Mar {% get_incomes year '3' user.school %}</strong><br>
                    <strong>Apr {% get_incomes year '4' user.school %}</strong><br>
                    <hr>
                    <strong>May {% get_incomes year '5' user.school %}</strong><br>
                    <strong>Jun {% get_incomes year '6' user.school %}</strong><br>
                    <hr>
                    <strong>Jul {% get_incomes year '7' user.school %}</strong><br>
                    <strong>Aug {% get_incomes year '8' user.school %}</strong><br>
                    <hr>
                    <strong>Sep {% get_incomes year '9' user.school %}</strong><br>
                    <strong>Oct {% get_incomes year '10' user.school %}</strong><br>
                    <hr>
                    <strong>Nov {% get_incomes year '11' user.school %}</strong><br>
                    <strong>Dec {% get_incomes year '12' user.school %}</strong><br>
                </div>

                

            </div>

        </div>
      
    </div>

        <script>
            // Sample data for the bar graph
            const data = {
                labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
                datasets: [{
                    label: 'Expense Data',
                    backgroundColor: '#ffb6b9',
                    borderColor: 'rgba(25, 125, 55, 1)',
                    borderWidth: 1,
                    data: [{% get_expenses year '1' user.school %},
{% get_expenses year '2' user.school %},
{% get_expenses year '3' user.school %},
{% get_expenses year '4' user.school %},
{% get_expenses year '5' user.school %},
{% get_expenses year '6' user.school %},
{% get_expenses year '7' user.school %},
{% get_expenses year '8' user.school %},
{% get_expenses year '9' user.school %},
{% get_expenses year '10' user.school %},
{% get_expenses year '11' user.school %},
{% get_expenses year '12' user.school %}]
        },
            {
                label: 'Income Data',
                    backgroundColor: '#61c0bf',
                        borderColor: '#61c0bf',
                            LabelColor: '#61c0bf',
                                borderRadius: '5px',
                                    borderWidth: 1,
                                        data: [{% get_incomes year '1' user.school %},
{% get_incomes year '2' user.school %},
{% get_incomes year '3' user.school %},
{% get_incomes year '4' user.school %},
{% get_incomes year '5' user.school %},
{% get_incomes year '6' user.school %},
{% get_incomes year '7' user.school %},
{% get_incomes year '8' user.school %},
{% get_incomes year '9' user.school %},
{% get_incomes year '10' user.school %},
{% get_incomes year '11' user.school %},
{% get_incomes year '12' user.school %}]
            }]
    };

            // Configuration options for the bar graph
            const options = {
                scales: {
                    x: {
                        ticks: {
                            color: 'white', // Set the color of X-axis labels
                        }
                    },
                    y: {
                        ticks: {
                            color: 'white', // Set the color of Y-axis labels
                        },
                        beginAtZero: true

                    }
                }

            };

            // Create the bar chart
            const ctx = document.getElementById('barChart').getContext('2d');
            const barChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });
        </script>
        <br><br>
        <form method="post" style="width: 90%;margin: 0 auto;">
            {% csrf_token %}
            <div class="input-group mb-3" id="list">
                <input type="text" class="form-control" name="title" placeholder="search by title"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <span class="input-group-text">From</span>
                <input type="date" class="form-control" name="from">
                <span class="input-group-text">To</span>
                <input type="date" class="form-control" name="to">


            </div>

            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example" name="mode">
                    <option></option>
                    <option value="CASH">CASH</option>
                    <option value="M-PESA">M-PESA</option>
                </select>

                <span class="input-group-text">Amount Min Range</span>
                <input type="number" class="form-control" name="lower">
                <span class="input-group-text">Amount Max Range</span>
                <input type="number" class="form-control" name="upper">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search/Reset</button>

            </div>


            <br><br>
        </form>

        <!-- <button onclick="printDiv('report')" class="btn btn-danger" ><i class="bi bi-printer"> </i> Print</button>  -->
        
        <table class="table"  style="width: 90%;margin: 0 auto;">
            <caption>{{ q_totals }}</caption>
            <thead >
                <tr>
                    <th><h6>Id</h6></th>
                    <th>
                        <h6 class="tb">Title</h6>
                    </th>
                    <th>
                        <h6>Date</h6>
                    </th>
                    <th>
                        <h6>Amount</h6>
                    </th>
                    <th>
                        <h6>Mode</h6>
                    </th>
                    <th>
                        <h6>Status</h6>
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for expense in expenses %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'manage-expense' expense.id %}" style="color: black;text-decoration: none;">
                            <h6>{{ expense.title }}</h6>
                        </a></td>
                    <td>{{ expense.date }} </td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.mode }}</td>
                    <td style="color: cornflowerblue;">Approved</td>

                </tr>

                {% endfor %}

            </tbody>
        </table>

      


     


    </div>





    <script>
        function printDiv(divId) {
            var printContent = document.getElementById(divId).innerHTML;
            
            var originalContent = document.body.innerHTML;
    
            document.body.innerHTML = printContent;
    
            window.print();
    
            document.body.innerHTML = originalContent;
        }
    </script>






    <script>
        function scrollToList() {
            const element = '{{ scroll }}';
            const rect = element.getBoundingClientRect();
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            const scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;

            window.scrollTo({
                top: rect.top + scrollTop,
                left: rect.left + scrollLeft,
                behavior: "smooth"
            });
        }

        window.onload = function() {
            scrollToList();
        };
    </script>



    {% endblock %}