{% extends 'Supervisor/base.html' %}
{% load custom_filters %}
{% block content %}
<style>/* From Uiverse.io by Yaya12085 */ 
  .card2{
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 800px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.4);
    background-color: #281c3b;
    color: white;
  }
  
  .dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    /* background-color: #fff; */
    color: rgb(255, 255, 255);
    border: 2px solid #D1D5DB;
    font-size: 1rem;
    font-weight: 300;
    /* width: 30px; */
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
  }
  .date {
    position: absolute;
    left: 10px;
    top: 10px;
   
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 300;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
  }
  
  .dismiss:hover {
    background-color: #ee0d0d;
    border: 2px solid #ee0d0d;
    color: #fff;
  }
  
  .header {
    padding: 1.25rem 1rem 1rem 1rem;
  }
  
  .image2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2feee;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
  }
  
  .image2 svg {
    color: #0afa2a;
    width: 2rem;
    height: 2rem;
  }
  
  .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .title2 {
    color: cornflowerblue;
    font-size: 20px;
    font-weight: bolder;
    /* line-height: 1.5rem; */
  }
  
  .message {
    margin-top: 0.5rem;
    color: #ffffff;
    font-size: 19px;
    line-height: 1.25rem;
  }
  
  .actions {
    margin: 0.75rem 1rem;
  }
  
  .history {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #1aa06d;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .track {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    color: #242525;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  @keyframes animate {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.09);
    }
  }</style>
<br><br><br><br>
<div class="container" style="margin: 0 auto;width: 90%;max-width: 800px;">


  <div class="card2"> 
      <h5 class="dismiss" >Adm No : {{ profile.user.adm_no }}</h5> 
      <h5 class="date" >Date Joined : {{ profile.user.date|date:'d-m-Y' }}</h5> 
      <div class="header"> 
        <div class="image2">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          </div> 
          <div class="content">
             <span class="title2"></span> 
             <p class="message" style="font-size: 22px;">{{ profile.user.studentprofile.get_names|title }} </p> 
             <small style="font-size: 20px;">{{ profile.user.academicprofile.current_class.grade }} {{ profile.user.academicprofile.current_class }}</small><br>
             {% if profile.balance > 1 %}
             <a class="history" style="color: white;">Overpayment Of {{ profile.balance }}</a>
             {% else %}
             <a class="history" style="color: white;background-color: #ee0d0d;">Balance {{ profile.balance|abs_value }}</a>
             {% endif %}
             </div> 
             <div class="actions">
                
                </div> 
                </div> 
                </div>
    {% if profile %}
    
    <br><br>
   
        <br>
        {% if transactions %}
<table class="table">
    <thead>
      <tr>
        <th><h6><input type="checkbox"></h6></th>
        <th><h6>Id</h6></th>
         <th><h6>Date</h6></th>
        <th><h6>Checkout Id</h6></th>
        <th><h6>Account/Phone</h6></th>
        <th><h6>Amount</h6></th>
        <th><h6>Balance</h6></th>
      </tr>
    </thead>
    <tbody>
      
      {% for payment in transactions %}
        
            <tr>
                
          
                <td><input type="checkbox"></td>
                <td><a ><h6>{{ forloop.counter }}</h6></a></td>
                <td>{{ payment.date|date:"D d M Y" }}</td>
                <td><a href="{% url 'manage-fee-payment' payment.id %}">{{ payment.transaction_id.receipt }}</a></td>
                
                <td>{{ payment.transaction_id.mode }}</td>
                <td>{{ payment.transaction_id.amount }}</td>
                <td>{{ payment.balance }}<br></td>
                
              </tr>
        
        
      {% endfor %}
    </tbody>
 </table>
{% else %}
{% endif %}
{% else %}
{% endif %}
</div>
 {% endblock %}